#google APIS
google-cloud-documentai
google-cloud-vision
google-generativeai

# YOLO/ResNet dependencies
numpy
opencv-python
pillow
torch
torchvision
ultralytics

# Tooling
pdf2image
python-docx
python-dotenv
pytest

